<div class="container">
  <div class="row">
    <div class="col-lg-6 mx-auto pt-4">
      <h1 class="text-center">
        Welcome to <span><i class="fas fa-book"></i></span><strong>Bookers</strong>!
      </h1>
      </div>
    </div>
  </div>
</div>